{% if page.footer %}
  {% block footer %}
    <footer class="footer" role="contentinfo">
      <div class="footer-contact">
        {{ page.footer }}
      </div>
    </footer>
  {% endblock %}
{% endif %}
